.blog6{
    width: 100%;
    height: 500px;
    .container{
        .row{
            margin-top: 80px;
            .r-6{
                padding-top: 120px;
                color: black;

                h2{
                    font-size:$h2 ;
                    font-weight: bold;
                }

            }
            img 
            {
            width: 100%;
            overflow: hidden;
            -webkit-transform: scale(0.5);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            
                &:hover {
                // -ms-transform: scale(1.5); /* IE 9 */
                // -webkit-transform: scale(1.5); /* Safari 3-8 */
                // transform: scale(1.5); 
                -webkit-transform: scale(0.5);
                transform: scale(0.8);
                }
            }
        }
    }
}