.blog2{
    width: 100%;
    height: $h;
    background-image: url('https://cdn.wallpapersafari.com/12/99/eQ2OPX.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    .row2{
        color: black;
        padding-top: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        .r-2{
            
            margin: 10px 15px auto 20px;
            button{
                border-radius: 100%;
                width: 90px;height: 90px;
                -webkit-transform: scale(0.5);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                &:hover{
                    -webkit-transform: scale(1.5);
                    transform: scale(0.8);
                }
            }

        }

        h2{
            
            font-size:$h2;
            font-weight: bold;
        }
        p{
            color: $cfont;
            margin: 20px 0;
            font-size: $pfont;
        }

    }    
}