@import'config';
@import'media';
@import'buttons';
@import'layouts';
@import'header';
@import'bloga';
@import'blogb';
@import'blogc';
@import'blogd';
@import'bloge';
@import'blogf';
@import'footer';

a{
    text-decoration: none;
    color: $afont;
} 
  
img{
    width: 100%;   
}
