.blog5{
    height: $h;
    width: 100%;
    background-color: $background;

    .container
    {

        .r-5{
            padding-top: 120px;
            color: $cfont;

            h2{
                font-size:$h2 ;
                font-weight: bold;
            }
        }

        img 
        {
           width: 75%;
           overflow: hidden;
           -webkit-transform: scale(0.5);
           transform: scale(1);
           -webkit-transition: .3s ease-in-out;
           transition: .3s ease-in-out;
           
             &:hover {
               // -ms-transform: scale(1.5); /* IE 9 */
               // -webkit-transform: scale(1.5); /* Safari 3-8 */
               // transform: scale(1.5); 
               -webkit-transform: scale(0.5);
               transform: scale(0.8);
             }
         }

         .r-5b{
             padding-top: 400px;
            justify-content: center;
            align-items: center;
            color: $cfont;

            p{
                padding-top: 35px;
                color: gray;
            }
         }
    }
}