$font-sass: Arial, Helvetica, sans-serif;
$background: rgb(39, 39, 39);
$cfont : rgb(255, 255, 255);
$afont : #fff;
$asize : 15px;
$h2 : 50px;
$primary : rgb(29, 63, 255);
$light : rgba(255, 255, 255, 0.993);
$fcolor : rgb(0, 0, 0);
$pfont :14px;
$h :800px;
// $phone : rgb(146, 255, 126);
// $tablet : red;

// $desktop : purple;

// // Small tablets and large smartphones (landscape view)
// $screen-sm-min: 576px;

// // Small tablets (portrait view)
// $screen-md-min: 768px;

// // Tablets and small desktops
// $screen-lg-min: 992px;

// // Large tablets and desktops
// $screen-xl-min: 1200px;






// set text color base on bg
@function set-text-color($cfont) {
    @if (lightness($cfont)>70) {
        @return rgb(0, 0, 0);
    }@else{
        @return rgb(255, 255, 255);
    }
}

//set bg color
@mixin set-bg-color($color) {
    background-color: $color;
    color: set-text-color($background);
}

//Margin and padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
    .m-#{$space}
    {
        margin: #{$space}rem;
    }
    .my-#{$space}
    {
        margin: #{$space}rem 0;
    }

    .p-#{$space}
    {
        padding: #{$space}rem;
    }
    .py-#{$space}
    {
        padding: #{$space}rem 0;
    }
}
