@import'config';
@import'media';
@import'buttons';
@import'layouts';
@import'header';
@import'bloga';
@import'blogb';
@import'blogc';
@import'blogd';
@import'bloge';
@import'blogf';
@import'footer';

a{
    text-decoration: none;
    color: $afont;
} 
  
img{
    width: 100%;   
}

// .container {
//     padding: 0 15px;
// // 576px window width and more
//     @include sm {
//         padding: 0 20px;
//         font-size: 15px !important;
//     }
// // 992px window width and more
//     @include lg {
//         margin-left: auto;
//         margin-right: auto;
//         max-width: 1100px;
//     }
// // 1400px window width and more
//     @include rwd(1400) {
//         margin-bottom: 20px;
//         margin-top: 20px;
//     }
// }